@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: black;
  font-family: kanit, sans-serif;
  opacity: 0;
  background-color: #12A594;
  animation: body 4s forwards;
}

nav {
  text-transform: uppercase;
  color: black;
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetica;
  padding: 0 1rem;
  background-color: #7DE0CB;
  position: relative;
  flex-shrink: 0;
  box-shadow: 0px 3px 15px -3px rgba(0, 0, 0, 0.3);
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  transform: translateX(180%);
}

nav ul:first-child {
  gap: 10rem;
}

nav ul:last-child {
  gap: 16rem;
}

.a {
  color: black;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  border: black solid 1px;
  padding: 7px;
  margin: 2px;
  transition: 0.25s ease-in-out;
}
.a:hover {
  background-color: #e8e8e8;
  border-color: #fff;
}

.div_btn {
  position: absolute;
  top: 15%;
  left: 35%;
}

.btn {
  position: relative;
  background-color: rgba(0, 5, 29, 0.4549019608);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  width: auto;
}
.btn:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}

.active {
  border-color: red;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}

.grid {
  position: relative;
  width: 1200px;
  top: 700px;
  left: 2%;
  gap: 100px;
  animation: grid 2s forwards;
  animation-delay: 1s;
}

.item {
  position: absolute;
  width: 1220px;
  height: 100px;
  line-height: auto;
  margin: 10px;
  border-bottom: 1px solid #BBBBBB;
  /* Valeur initiale conservée */
  z-index: 1;
  transition: all 0.3s ease-out;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  width: 100%;
  height: 100px;
  font-size: 30px;
  color: #000;
  /* Utilisation de la variable */
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.item-content:hover {
  color: #131212;
  transform: translateY(-1px);
  background-color: #7DE0CB;
  transition: 0.5s ease-in-out;
}
.item-content form {
  width: 100%;
  height: 100%;
}
.item-content .id {
  display: none;
}
.item-content .titre {
  position: relative;
  top: 10%;
  left: 5%;
  display: inline-block;
  height: 35px;
  width: 150px;
  grid-row: 1;
  grid-column: 1;
  overflow: hidden;
}
.item-content .titre1 {
  position: relative;
  top: 15%;
  left: 23%;
  grid-row: 1;
  grid-column: 1;
  width: 400px;
  height: 37px;
  text-align: center;
  font-size: 30px;
  font-family: "kanit";
  border: 2px solid #BBBBBB;
  /* Utilisation de la variable */
  overflow: hidden;
}
.item-content .statut {
  position: relative;
  top: 10%;
  left: 25%;
  display: inline-block;
  height: 35px;
  width: 100px;
  grid-row: 1;
  grid-column: 2;
  overflow: hidden;
}
.item-content .statut1 {
  position: relative;
  top: 15%;
  left: 50%;
  grid-row: 1;
  grid-column: 2;
}
.item-content .statut1 select {
  width: 160px;
  height: 37px;
  text-align: center;
  font-size: 30px;
  font-family: "kanit";
  border: 2px solid #BBBBBB;
  /* Utilisation de la variable */
  overflow: hidden;
}
.item-content .date {
  position: relative;
  top: 10%;
  left: 5%;
  display: inline-block;
  height: 35px;
  width: 150px;
  grid-row: 1;
  grid-column: 3;
  overflow: hidden;
}
.item-content .date1 {
  position: relative;
  top: 15%;
  left: 25%;
  grid-row: 1;
  grid-column: 3;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  font-family: "kanit";
  border: 2px solid #BBBBBB;
  /* Utilisation de la variable */
  overflow: hidden;
}
.item-content .modifier {
  position: relative;
  top: 5%;
  left: 45%;
  grid-row: 2;
  grid-column: 3;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  font-family: "kanit";
  border: 3px solid #BBBBBB;
  /* Utilisation de la variable */
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
}
.item-content .modifier:hover {
  background-color: #000;
  color: #fff;
  border: none;
}
.item.muuri-item-dragging, .item.muuri-item-releasing {
  background: #919191;
  color: #000;
}
.item.active .item-description {
  display: block;
  opacity: 1;
}

.cont {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 500px;
  font-size: 1.7em;
  padding: 10px;
}
.cont .dd {
  width: 500px;
  height: 50px;
  transform: translate(0, 1000px);
  animation: dd 0.5s forwards;
  animation-delay: 1.5s;
}
.cont .dd1 {
  position: relative;
  top: 10%;
  transform: translate(0, 1000px);
  animation: dd 0.5s forwards;
  animation-delay: 1.5s;
}
.cont .titre {
  position: relative;
}
.cont .titre1 input {
  width: 300px;
  height: 50px;
  text-align: center;
  border: 3px solid #BBBBBB;
  border-radius: 10px;
  margin: 10px;
  font-size: 1.3em;
}
.cont .date {
  position: relative;
  top: 35%;
}
.cont .date1 {
  position: relative;
  top: 10%;
}
.cont .date1 input {
  width: 200px;
  height: 50px;
  text-align: center;
  border: 3px solid #BBBBBB;
  border-radius: 10px;
  margin: 10px;
  font-size: 1.3em;
}
.cont .ajouter {
  position: relative;
  top: 15%;
  left: 10%;
}
.cont .ajouter input {
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 1.1em;
}

@keyframes body {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes grid {
  0% {
    top: 700px;
  }
  to {
    top: 70px;
  }
}
@keyframes dd {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}/*# sourceMappingURL=style.css.map */